<div id="<%= dom_id user %>">
  <p>
    <strong>Prénom:</strong>
    <%= user.Prénom %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= user.Nom %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.Email %>
  </p>

  <p>
    <strong>Date de naissance:</strong>
    <%= user.Date_de_naissance %>
  </p>

  <p>
    <strong>Numéro:</strong>
    <%= user.Numéro %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user.Description %>
  </p>

</div>
